* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #e8e8e876;
  overflow-x: hidden;
  height: 100%;
}

.App {
  min-height: 80vh;
}

.notie-container {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  height: 10vh;
  overflow: hidden;
}