.slider {
  display: flex;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  justify-content: center;
}
.slider-container {
  margin: 0 auto;
  /* padding-right: 10px; */
  overflow: hidden;
  position: static;
  margin-top: 0px;
}

.leftArrow {
  cursor: pointer;
  z-index: 2;
  background-color: rgba(203, 209, 209, 0.438);
  border-radius: 100%;
}
.contenedorFlechas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -235px;
  height: 40px;
  overflow: hidden;
  margin-bottom: -40px;
}
